.article-card {
  width: 22rem;
  height: 33rem;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
.date-item,
.details-item {
  display: inline-block;
  font-size: 0.875rem;
  color: #9b9b9b;
}
.article-content {
  padding: 1rem;
}
.article-content ul {
  margin-bottom: 1.0625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-content ul li > svg {
  color: #3430ad;
  margin-right: 0.625rem;
}
ul.article-details {
  height: 3.5rem;
  border-top: 1px solid #9b9b9b;
  padding-top: 0.5rem;
}
.title-h3 {
  font-family: Poppins, sans-serif;
  font-size: 23px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 1.0625rem;
  line-height: 2rem;
}
.article-cards {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}
