.aboutus__container {
  padding: 0 5rem;
}
.aboutus__content {
  display: flex;
  width: 100%;
  position: relative;
}
.para {
  color: #646464;
  font-size: 0.95rem;
  line-height: 2;
}
.aboutus__image {
  width: 50%;
}
.aboutus__text {
  width: 50%;
}
.bold {
  font-weight: 500;
}
.aboutus__text__content {
  padding: 1rem;
}

/* .heading__wrap::after {
    position: absolute;
    content: " ";
    border-bottom: 2px dashed #342fb0;
    width: 9rem;
    margin: 0.5rem;
} */

.aboutus__image__content {
  padding: 1rem;
}
.Services__header {
  text-align: center;
}
/* service card */
.Services__card {
  width: 22rem;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 23rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.938);
  transition: 0.5s all ease-in-out;
}
.Services__card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.title-h3 {
  font-family: 'Poppins', Sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 33.4px;
}
.Services__card__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Services__card__content {
  padding: 1.5rem;
}
.Services__card__text p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 2;
}
.Services__cards {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-content: space-between;
  background: #000;
  height: 55rem;
  padding: 3rem 0;
}
